.form-input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input{
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-style: none;
    background-color: var(--icon-color);
}

.alert{
    opacity: 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

#required-alert{
    font-size: 0.8rem;
    font-weight: 600;
}

.mandatory{
    border: 2px solid var(--primary-color);
}

.filled{
    border: 2px solid #3CCC87;
}

.appears{
    opacity: 1;
}